<!doctype html>

html(ng-app="addressBook" ng-strict-di)
  head
      base(href="/")
      meta(charset="utf-8")
      meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
      title Adress Book
      meta(name="description", content="")
      meta(name="viewport", content="width=device-width")
      link(rel="stylesheet",type="text/css", href="app.css")
      link(rel="stylesheet",type="text/css", href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css")

  body
    div(ui-view)

    script(src="vendor.js")
    script(src="application.js")
